*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.body{
	background-color:grey;
}
.flex_container1 {
	display: flex;
    background-color: blue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    height: 300px;
}

.flex_container1 div{
	
	margin:10px;
	padding:50px;
	background-color:red;	
}
.flex_container2 {
	display: flex;
    background-color: blue;
 }
 
 .flex_container2 .flex_item{
	 margin:10px;
	padding:50px;
	background-color:red;
	
 }
 
